<div class="header"> 
  <div class="row">
    <div class="col-md-4 offset-md-4"> 
      <h2 class="text-center">パスワードをお忘れですか?</h2>
  
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'shared/devisemes' %>
      
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "email",class:"form-control" %>
        </div>
      
        <div class="actions">
          <%= f.submit "パスワード再設定を送信する" ,class:"btn btn-primary"%>
        </div>
      <% end %>
     
    </div>
  </div>
</div>
