<div class="container header">
    <div class="row"> 
      <div class="col-md-12"> 
        <%= render 'post_menu',locals: {post: @post}  %>
        <div class="card"> 
          <div class="card-header"> 
            作品紹介動画
          </div>
          
          <div class="card-body"> 
            <div class="container"> 
              <%= form_for @post do |f| %>
    
                <div class="form-group">
                  <label>紹介ページにyoutubeの動画を埋め込むことができます</label>
                  <%= f.text_field :url, placeholder: "youtubeの動画URLを貼り付けてください", class: "form-control", required: true, id: "autoaddress" %>
                </div>
    
                <div class="text-center">
                  <%= f.submit "Save", class: "btn btn-form" %>
                </div>
    
              <% end %>
    
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
